.form-group {
	width: 100%;
	& input {
		width: 100%;
		font-size: 1.2rem;
		padding: 0.5em;
		outline: none;
		border: 1px solid $grayLight;
		&:focus {
			border: 1px solid $mainColor;
		}
	}
	& select {
		width: 100%;
		font-size: 1.2rem;
		padding: 0.5em;
		outline: none;
		border: 1px solid $grayLight;
		height: 2em;
		&:focus {
			border: 1px solid $mainColor;
		}
	}
	& textarea {
		width: 100%;
		font-size: 1.2rem;
		padding: 0.5em;
		outline: none;
		border: 1px solid $grayLight;
		resize: vertical;	
		&:focus {
			border: 1px solid $mainColor;
		}
	}
}

form .btn-back {
	background-color: white;
	color: $secondColor;
	font-size: 1.2rem;
	text-align: center;
	border: 1px solid $secondColor;
	width: 45%;
	float: left;
	&:hover, &:focus {
		background-color: $secondColor;
		color: white;
	}
}

form .btn-send {
	width: 45%;
	float: right;
	cursor: pointer;
	&:hover, &:focus {
		background-color: $secondColor;
		color: white;
	}
}