.notification__group__header {
	background-color: $grayLight;
	position: absolute;
	bottom: 1.4em;
	left: 0;
	right: 0;
	min-height: 16em;
}

.notification__title {
	color: white;
	font-size: 1.2em;
	text-align: center;
}

.notification__item {
	background-color: #fff;
	min-height: 15%;
	overflow: hidden;
	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.25em; /* Adjusts for spacing */
	}
}

.notification__content {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0.5em;
	border-right: 1px solid $grayLight;
	width: 75%;
	float: left;
	a {
		text-decoration: none;
		color: $black;
		font-weight: bold;
	}
}

.notification__actionGroup {
	width: 25%;
	display: inline-block;
	vertical-align: middle;
	float: right;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0.5em;
	padding-top: 1.5em;
	text-align: center;
	a {
		font-size: 1.5em;
	}
}

.notification__color {
	&--green {
		border-left: 5px solid green;
	}
	&--red {
		border-left: 5px solid red;
	}
}



.notification__item--null {
	text-align: center;
	width: 80%;
	margin: auto;
	margin-top: 35%;
	margin-bottom: 35%;
}

.notification__item--more a {
	display: block;
	color: white;
	text-decoration: none;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	margin-bottom: -1.4em;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.notification__group__page {
	padding: 1em;
	.notification__content {
		padding: 1em;
	}
	.notification__actionGroup {
		padding-top: 1.2em;
		a {
			font-size: 2em;
			padding: 0.5em;
		}
	}
	
	.pagination {
		text-align: center;
		margin-top: 1em;
		li {
			display: inline-block;
			border-left: 1px solid $black;
			&:first-child, &:first-child+li, &:last-child {
				border-left: none;
			}
			&.active {
				color: $white;
			}
			&:first-child a, &:first-child span, &:last-child a, &:last-child span {
				@include border-radius( 1em );
				background-color: transparent;
				color: $black;
				&:before {
					display: block;
					font-family: 'Simple-Line-Icons';
					content: "\e079";
					text-indent: 0%;
					overflow: visible;
					white-space: nowrap;
					font-size: 1.5em;
					line-height: 1.2em;
				}
				position: relative;
				top: 0.7em;
				text-indent: 1001%;
				overflow: hidden;
				white-space: nowrap;
				width: 1.5em;
				height: 1.5em;
			}
			&:first-child a, &:first-child span {
				&:before {
					content: "\e07a";
				}
			}
			a, span {
				background-color: $white;
				display: block;
				padding: 0.5em;
				text-decoration: none;
				color: $black;
			}
		}
	}
}

.notification__group__page li:first-child {
	border-top: none;
}

.notification__time {
	display: block;
	font-size: 0.8em;
	color: $grayMiddleLight;
	margin-top: 0.5em;
}