.btn {
	background-color: $mainColor;
	font-size: 1.2rem;
	padding: 0.5em;
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border-radius: 10px;
	border-style: none;
	border-bottom: 3px solid $secondColor;
}

.regirsterForm__group {
	width: 100%;
	& input {
		width: 50%;
		font-size: 1.2rem;
	}
}

.littleSpace {
	width: 60%;
	margin: auto;
}