////////////////////////////// COLORS
$mainColor : #FF4732;
$secondColor : darken($mainColor, 20%);
$grayLight : rgb( 200, 200, 200 );
$black : #212121;
$white : #ffffff;

////////////////////////////// SIZES
$headerLeft : 300px;
$headerTop : 2.5em;