	}
		}
	}
	}
}


.btn_addSeance {
	margin: auto;
	display: block;
	width: 15em;
	margin-top: 1em;
	margin-bottom: 1em;
	border: 1px solid $secondColor;
	background-color: #fff;
	color: $secondColor;
	text-align: center;
	&:hover {
		background-color: $secondColor;
		color: #fff;
	}
}

.seance__item {
	display: block;
	padding: 1em;
	border-top: 1px solid $secondColor;
	&:first-child {
		border-top: none;
	}
	& .the_seance {
		color: $secondColor;
		text-decoration: none;
	}
}

.update {
	background-color: orange;
	color: white;
	&:hover, &:focus {
		text-decoration: none;
	}
}
.delete {
	background-color: red;
	color: white;
	&:hover, &:focus {
		text-decoration: none;
	}
}

.seance__item--button {
	float: right;
	margin-left: 0.5em;
	padding: 0.2em;
	border-radius: 5px;
	text-decoration: none;
	color: white;
}

.course__diary--list li {
	padding: 1em;
	border-top: 1px solid $secondColor;
	&:first-child {
		border-top: none;
	}
	& a {
		color: $mainColor;
		text-decoration: none;
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
}

.groupList__type1 {
	list-style-type: none;
	padding: 1em;
	border-top: 1px solid $secondColor;
	&:first-child {
		border-top: none;
	}
	& a {
		color: $mainColor;
		text-decoration: none;
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
}