// Fonts
// import font ASAP => HTML Link
@font-face {
	font-family: nospace;
	src: url(./fonts/zerowidthspaces.ttf);
	src: url(./fonts/zerowidthspaces.woff);
}

@import 'reset';
@import 'icons';
@import 'variable';
@import 'functions';
@import 'animate';
@import 'base';
@import 'elements';
@import 'header';
@import 'errors';
@import 'layout';
@import 'planning';
@import 'aboutPage';
@import 'notification';
@import 'registerForm';
@import 'courseForm';
@import 'viewCourse';
@import 'accueil';
@import 'indexCourses';
@import 'media';
@import 'themeColor';